.inputContainer{
    width: 85%;
    margin: .25em 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 70px;
    /* border: 1px solid black; */
}   


.inputContainer input {
    padding: .45em;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--rose-quartz);
    color: var(--coral);

}

.inputContainer span{
    font-size: 14px;
    padding: .2em;
}

.inputContainer input:focus {   
    outline: 1px solid var(--coral);
    border: 1px solid var(--coral);
}

