.container_left {
    margin: 1em 0em 1em 1em;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 1px solid var(--rose-quartz);
    padding: .25em;
}

.container_right {
    margin: 1em 1em 1em 0em;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* border: 1px solid black; */
    background-position: center;
    background-repeat: no-repeat;
    padding: .5em;
    text-align: center;
}

.container_left form {
    overflow: auto;
    scrollbar-width: none;
    height: 70%;

}

.textInfo {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--dark-purple);
}