@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  /* Colors  */
  --delft-blue: #343D77ff;
  --dark-purple: #261C2Cff;
  --rose-quartz: #AB999Cff;
  --champagne: #F8E2C1ff;
  --pale-dogwood: #F1CEC8ff;
  --coral: #F28458ff;
  --white: #FFF7ED;

  /* Fonts */

  --title_font: 'Tagesschrift';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  color: var(--dark-purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at center, #F8E2C1ff 0%, #ffc2b3 60%, #F1CEC8ff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-family: var(--title_font),  sans-serif;
  color: var(--coral);
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 5px;
}


.container {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  min-height: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #0000009c;
  background-color: rgb(249, 249, 249);
  font-size: 14px;
  padding: .5em;
}

.menu {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;

}




.confirm_btn {
  width: 100px;
  height: 30px;
  border: 1px solid purple;
  border-radius: 5px;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}