@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  
  /* Colors  */

  --delft-blue: #343D77ff;
  --dark-purple: #261C2Cff;
  --rose-quartz: #AB999Cff;
  --champagne: #F8E2C1ff;
  --coral: #F28458ff;
  --pale-coral: #ffc2b3;
  --pale-dogwood: #F1CEC8ff;
  --white: #FFF7ED;
  --invalidAnswer: #DA3E52;
  --correctAnswer: #38943E;

  /* Fonts */

  --title_font: 'Tagesschrift';
  --default: 'Open Sans'
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  color: var(--dark-purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at center, var(--champagne) 0%, var(--pale-coral) 60%, var(--pale-dogwood) 100%);
  font-family: var(--default);
}

.title{
  font-family: var(--title_font),  sans-serif;
  color: var(--coral);
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 5px;
}