.container{
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.questionTitle{
    font-size: 16px;
    color: var(--delft-blue);
    margin: 1em 0;
}
