.container{
    display: flex;
    margin-top: 1em;
    width: 70%;
    /* height: 30px; */
    border: 1px solid var(--dark-purple);
    text-align: center;
    justify-content: start;
    align-items: center;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--delft-blue);
    background-position: left;
    background-size: contain;
    background: var(--coral);
    height: 30px;
    transition: 1.5s;
}


