.option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    width: 80%;
    height: 15px;
    border: none;
    background: linear-gradient(to left top, #1c1ca5, #1e90ff);
    color: white;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
}