.option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 15px;
    margin: .75em;
    background: transparent;
    border: 1px solid var(--coral);
    color: var(--coral);
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
}